<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%- loadCss %>
        <%- loadScripts %>
</head>

<body id="app">


    <div class="rr-header" data-bind="with: headerViewmodel">
        <% include _navbar.ejs %>
    </div>


    <div class="rr-content" data-bind="">
        <button id="blub">BLUB</button>
    </div>

    <script src="/javascripts/main.js"></script>

</body>

</html>

<script>
    var aVm = new appViewmodel();
    ko.applyBindings(aVm, document.getElementById("app"));
</script>