<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%- loadCss %>
    <%- loadScripts %>
</head>

<body id="app">

    <button id="blub">BLUB</button>
    <div class="rr-header" data-bind="">

    </div>


    <div class="rr-content" data-bind="">
    </div>

    <script src="/javascripts/main.js"></script>

</body>

</html>

<script>
    // var lvm = new layoutViewModel();
    // ko.applyBindings(lvm, document.getElementById("app"));
</script>