<div class="rr-nav rr-nav-transition ">
    <div id="jfjf" class="rr-nav-header">
        <span id="wwqq">sd</span>
    </div>
    <div class="rr-nav-content" data-bind="foreach: items,event: { mousewheel: scrolled }">
        <div class="rr-nav-content-item">
            <div class="rr-nav-content-item-header">
                <span class="rr-nav-content-item-header-span-left" data-bind="text: $data.channel.display_name"></span>
                <span class="rr-nav-content-item-header-span-right " data-bind="text: $data.viewers ">20400</span>
                <img class="rr-nav-content-item-header-gameimg" data-bind="attr:{src: $data.gameData.logo.small, title: $data.game} " />
            </div>
            <img class="rr-nav-content-item-img " " data-bind="attr:{src: $data.preview.medium} " />
            </div>
        </div>
    </div>
    <div class="rr-nav-trigger ">
        <a href="# " class="rr-nav-trigger-a ">
            <span data-bind="click: toggle_Nav " class="glyphicon glyphicon-align-justify "></span>
        </a>
    </div>