<div class="rr-nav rr-nav-transition ">
    <div id="jfjf" class="rr-nav-header">
        <span id="wwqq">sd</span>
    </div>
    <div class="rr-nav-content">

    </div>
</div>
<div class="rr-nav-trigger">
    <a href="#" class="rr-nav-trigger-a">
        <span data-bind="click: toggle_Nav" class="glyphicon glyphicon-align-justify"></span>
    </a>
</div>